.App {
    text-align: center;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#root {
    height: 100vh;
    display: flex;
    width: 100vw;
}

.card {
    margin: auto;
    padding: 50px 40px;
    justify-content: space-around;
    width: 350px;
    height: 100px;
    display: flex;
}

.button {
    height: 50px;
    width: 100%;
}

a {
    text-decoration: none;
}

.advance {
    width: 500px;
    height: 300px;
    padding: 20px 40px;
    flex-direction: column;
}

.advance button {
    margin-top: 20px;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    height: 100px;
}

header nav {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: auto;
    position: static;
    justify-content: space-between;
}

header nav h3 {
    font-size: 30px !important;
    color: black;
    position: relative;
    transition: .2s;
}

header nav h3:hover {
    cursor: pointer;
    color: cornflowerblue;
}

header nav h3:after {
    content: '';
    width: 0;
    transition: .2s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: black;
}

header nav h3:hover:after {
    width: 100%;
}

.active {
    color: cornflowerblue;
    transform: scale(1.1);
}

#menu {
    display: none;
}
#basic-menu{
    display: none;
}

@media (max-width: 630px) {
    .card{
        width: 75%;
    }
    #menu {
        display: flex;
        height: 60px;
        width: 50px;
        margin: 20px 20px 0 auto;
    }

    #menu button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: .2s;
        color: black;
    }

    #menu button:hover {
        background: rgba(0, 51, 255, 0.1);
    }

    nav {
        display: none !important;
    }

    h4 {
        font-size: 30px !important;
    }
    #basic-menu{
        display: flex;
    }
    #basic-menu ul {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #basic-menu ul a{
        height: 20%;
        margin-left: 20px;
        text-decoration: none;
        color: black;
    }
}